nav{
    border-top: 35px solid  slategray;
    padding-top: 10px;
}
.barra{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    padding: 10px;
    margin-top: 1%;
}
.menu li a{
   text-decoration: none;
   color: gray;
   border: 2px solid gray;
   font-weight: bold;
   padding: 10px 5px;
   border-radius: 5px;
}
.menu li a:hover{
    text-decoration: underline;
}
.logo {
    width: 120px;  
}
header{
    background-color: slategray;
    padding: 1%;
    text-align: center;
    font-size: 25px;
    margin-top: 1%;
}
.contenedor{
    width: 150%;
    width: 75%;
    margin-left: 10%;
}
p{
    line-height: 1.6;
}
h2{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 600px;
}

